@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br/>
    <h3>This website is about Animals</h3>
    <h4>My name is Gurpreet Kaur</h4>
    <h4>Date & Time: @DateTime.Now</h4>
    <br/><br/><br/><br/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
