@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var name = "Gurpreet Kaur";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h2>This is the website aboout Animals<h2>
    <h3> My name is: @name</h3>
    <h4> Current date is : @DateTime.Now</h4>







    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
